<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Event schedule</h1>

  <table><% @schedule.each do |@row| %>
  			<% @row.each do |item| %>
    <tr>
      <td><%= item %></td>
      <td><%= item %></td>
    </tr>
     <tr>
      <td><%= item %></td>
      <td><%= item %></td>
    </tr>
     <tr>
      <td><%= item %></td>
      <td><%= item %></td>
    </tr>
     <tr>
      <td><%= item %></td>
      <td><%= item %></td>
    </tr>
     <tr>
      <td><%= item %></td>
      <td><%= item %></td>
    </tr>
    <% end %>
    <% end %>
    <!-- etc. etc. -->
  </table>

</body>
</html>